* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Material Design Icons, JetBrainsMono Nerd Font;
    font-size: 13px;
  }
  
  window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    transition-property: background-color;
    transition-duration: 0.5s;
  }
  
  window#waybar.hidden {
    opacity: 0.5;
  }
  
  #workspaces {
    background-color: transparent;
  }
  
  #workspaces button {
    min-width: 0;
    padding: 6px 14px;
    border-radius: 4px;
    color: #cdd6f4;
  }
  @keyframes blink {
    to {
      color: #181825;
    }
  }
  
  #workspaces button.active {
    color: #66b2b2;
  }

  button:hover {
      box-shadow: none;
      text-shadow: none;
      background: none;
      transition: none;
  }
  
  #workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  #memory,
  #custom-power,
  #battery,
  #backlight,
  #pulseaudio,
  #network,
  #clock,
  #tray {
    border-radius: 4px;
    padding: 6px 11px;
    color: #181825;
  }
  
  #custom-logo {
    padding-right: 2px;
    padding-left: 6px;
    border-radius: 8px 0px 0px 8px;
    color: #cdd6f4;
  }
  
  #memory {
    color: #cdd6f4;
  }
  #battery {
    color: #cdd6f4;
  }
  @keyframes blink {
    to {
      color: #181825;
    }
  }
  
  #battery.warning,
  #battery.critical,
  #battery.urgent {
    color: #ff0048;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #battery.charging {
    color: #a6e3a1;
  }
  
  #pulseaudio {
    color: #cdd6f4;
  }
  
  #network {
    color: #cdd6f4;
    padding-right: 4px;
  }
  
  #clock {
    font-family: JetBrainsMono Nerd Font;
    color: #cdd6f4;
  }
  
  #custom-power {
    color: #cdd6f4;
    margin-right: 6px;
  }
  
  tooltip {
  border-radius: 8px;
  padding: 15px;
  }
  
  tooltip label {
  padding: 5px;
  color: #cdd6f4;
  }
